<%- include("partials/header.ejs") %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="/admin/transactions">Transactions</a>
        <a class="nav-link" href="/admin/purchaseorder">Purchase  Details</a>
        <a class="nav-link  active" href="/admin/empdetails">Employee Details</a>
        <a class="nav-link" href="/admin/stats">Statistics</a>
        <a class="nav-link" href="/admin/supplier">Supplier Details</a>
        <a class="nav-link" href="/admin/customer">Customer Details</a>
        <a class="nav-link" href="/admin/customer">Product Details</a>
      </div>
      <div class="navbar-nav">
        <a class="nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </nav>
  
  <div class="text-center my-5"><h1>EMPLOYEE DETAILS</h1></div>
  <div class="container my-5">
    <%for(x in result){%>
      <div class="row">
        <div class="col-md-4"><%=Number(x)+1%> ) <h5 class="d-inline-block"><%=result[x].emp_name%></h5></div>
        <div class="col-md-2">
          <a href="/admin/empdetails/<%=result[x].emp_id%>/view">VIEW</a>
        </div>
        <div class="col-md-2">
          <a href="/admin/empdetails/<%=result[x].emp_id%>/modify">MODIFY</a>
        </div>
       <%if(result[x].username==null){%>
        <div class="col-md-2">
          <a href="/admin/empdetails/<%=result[x].emp_id%>/addcreds">ADD CREDS</a>
        </div>
       <%}else{%>
        <div class="col-md-2">
          
        </div>
       <%}%>
        <div class="col-md-2">  
          <form action="/admin/empdetails/<%=result[x].emp_id%>/delete?_method=delete" method="post">
           <button>DELETE</button>
          </form>
        </div>  
        </div>
    <%}%>
  </div>

<%- include("partials/footer.ejs") %>