<%-include("partials/header.ejs")%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active" href="/admin">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/admin/transactions">Transactions</a>
      <a class="nav-link" href="/admin/purchaseorder">Purchase  Details</a>
      <a class="nav-link" href="/admin/empdetails">Employee Details</a>
      <a class="nav-link" href="/admin/stats">Statistics</a>
      <a class="nav-link" href="/manager/supdetails">Supplier Details</a>
      <a class="nav-link" href="/admin/customer">Customer Details</a>
      <a class="nav-link" href="/manager/proddetails">Product Details</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>

<div class="container-fluid my-5">
    <h3 class="text-center my-5">TRANSACTIONS</h3>
    <div class="row my-5">
        <div class="col-md-1">SL.No.</div>
                 <div class="col-md-2">CUSTOMER NAME</div>
                 <div class="col-md-2">BILLED DATE</div>
                 <div class="col-md-2">BILLED AMOUNT</div>
                 <div class="col-md-2">FINAL AMOUNT</div>
                 <div class="col-md-1">MODE OF PAYMENT</div>
                 <div class="col-md-1">ITEMS PURCHASED</div>
    </div>
    <%if(result.length!=0){%>
        <%for(let i=0;i<=result.length-1;i++){%>
             <div class="row">
                 <div class="col-md-1"><%=i+1%>)</div>
                 <div class="col-md-2"><%=result[i].c_name%></div>
                 <div class="col-md-2"><%=result[i].billed_date.toDateString()%></div>
                 <div class="col-md-2"><%=result[i].billed_amt%></div>
                 <div class="col-md-2"><%=result[i].final_amt%></div>
                 <div class="col-md-1"><%=result[i].mop%></div>
                 <div class="col-md-1"><a class="btn btn-outline-success" href="/admin/transactions/<%=result[i].t_id%>">Products</a></div>%>

             </div>
            <%}%>
    <%}else{%>
        <h4 class="text-center my-5">NO TRANSACTIONS </h4>
    <%}%>
</div>

<%- include("partials/footer.ejs") %>